// Regroupe le style pour le contenu des node.tpl custom
// Concerne toutes les pages qui créer du contenu Europe, Sortie, Partenaires

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|           CONTENU VDL                |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur {

    #colonne-1.contenu-vdl{order:1;}
    #colonne-2.contenu-vdl{order:2;}
    #colonne-3.contenu-vdl{order:3;}
    @include breakpoint ($desktop){
   
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.contenu-vdl{
            @include border-L-rose;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
.vdl-passerelle{}
.vdl-video{
    width: 89%;
    margin: 0 auto;
}
.vdl-liste-docs{}
.vdl-galerie-image{
    padding-bottom: 1em;
}
.vdl-galerie-image .gallery-slides
{
    img{@include adaptable-img;}
}
.contenu-vdl{
    h1.titre_vdl{
        @include titre-page;
        color: $bleu-turquoise;
    }
    p, ul{
        padding: em(5px);
        margin: 0;
    }
    ul,li{
        list-style: none;
    }
    h3{
        color: $bleu-turquoise;
        padding: em(2px);
    }
    h2{
        text-align: center;
        color: $bleu-turquoise;
    }
    h4{
        color: #94127F;
        padding: em(2px);
        text-indent: em(3px);
    }   
    a{
         color: $bleu-turquoise;
            text-decoration: none;
            padding: em(2px);
            text-indent: em(3px);
        &:not(.flexslider),&:not(.bxslider),&:not(.vdl-galerie-image){
            text-indent: none;
            &:hover{
                color: white;
                background: $bleu-turquoise;
            }
        }
    }
    strong{
        color: $rose-fushia;
    }
}
/*_________________________________
 ****  NODE.TPL CUSTOM VDL 
    SORTIE,PROJET,INNOVATION,INTERVENANT ****
----------------------------------*/
.docs-joints-vdl{
    padding: em(10px);background: $gris-clair;display: block;
h3{text-align: center;color: $rose-fushia;@include adjust-font-size-to(14px);}
a{
    @include adjust-font-size-to(14px);
}
}

.fiche-action-vdl a,.fichier-joint-vdl a{color: $bleu-turquoise;padding: em(2px);text-decoration: none;text-indent: em(3px);}
.fiche-action-vdl a:hover,.fichier-joint-vdl a:hover{background:$bleu-turquoise;color:white;}
.video-embed-vdl{margin: 0 auto;padding: em(2px);width: 425px;border: em(2px) solid $bleu-turquoise;}
.vdl-galerie-image .view-GA-theming img{border: em(1px) solid $violet;padding: em(2px);}