// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|       FICHE FORMATION               |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.CLASS_NAME{order:1;}
    #colonne-2.CLASS_NAME{order:2;}
    #colonne-3.CLASS_NAME{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-1.fiche-formation{}
        #colonne-2.fiche-formation{@include border-L-rose;}
        
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
.fiche-formation{
    p{
        margin: 0.5em;
        line-height: 2em;
    }
    h2{
        color: #11B0D5;
         @include adjust-font-size-to(16px);
        
    }
    h3{
         color: #93117E;
        @include adjust-font-size-to(14px);
    }
    h4{color: #E1017B;}
    ul{
        list-style: square;
    }
    a{
        color: #93117E;
        text-decoration: none;
        &:hover{
            background:transparent;
            color: #11B0D5;
            text-decoration: underline;
        }
    }
}
h1.titre-fiche-formation{
    color: $bleu-turquoise;
}
/*--------------------------------------
**** FICHE FORMATION REDESIGN 2012 ******
___________________________________*/
.poursuite-fiche{
    margin: em(25px) em(15px);
      h2{
         @include adjust-font-size-to(16px);
         color: #AEC81F;}
}

.programme-fiche{
    color: #94127F;width:90%;margin: 0.5em auto;padding: em(5px);border: em(2px) solid;
 a{color: #E2017B;font-weight: bold;@include adjust-font-size-to(12px);}
}

.complement-fiche{color:  #93117E;font-style: italic;@include adjust-font-size-to(13px);}