// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       FRONTPAGE  PANORAMIQUE         |
|--------------------------------------*/

  //@include susy-breakpoint ($mobile){}
  //@include susy-breakpoint ($desktop){}
  //@include susy-breakpoint ($tablet){}


/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.CLASS_NAME{order:1;}
    #colonne-2.CLASS_NAME{order:2;}
    #colonne-3.CLASS_NAME{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex{
   @include breakpoint(($desktop,$tablet)){
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
/********************/
/*ZONES PAGE ACCUEIL*/

.content-bottom-home {
    table{width: auto;}
    a {
        //@include zocial;
    }
    ul{
         @include horizontal-list;
        li{}
    }
}

/****************/
body .conteneur{
    .HPBasGauche, .HPBasDroit {

        background: none;
        color: black;
        ul li {
            list-style: square;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
       iframe{
                max-width: 100%;
                padding: em(1px);
                border: em(1px) solid $violet;
            }
        h3.block-title{
            font-size: em(18px);
            color: $orange-fonce;
            text-align: center;
            text-transform: inherit;
            margin: em(20px) 0;
        }
        aside.HPBasG, aside.HPBasD{
            .views-field-title span a{
                color: $bleu-turquoise;
                &:hover{
                    
                }
            }
            .views-field-teaser span a{
                color: $gris-anthracite;
                &:hover{
                  text-decoration: none;  
                }
            }
        }
    }
}
/*## Nav Statique ##*/
body .conteneur{
    .menuImg a:hover{color: #970F7D;}
    /*couleur différente pour le bouton restaurant*/
    .menuImg a.nav-resto {color: #970F7D;
                           @include clignote(1s,1.0,0.3,1.0);
                           &:hover{color:#11B0D5;}
    } 


}