// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE LYCEE                     |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.page-lycee {order:1;}
    #colonne-1.page-lycee span{display: none;}
    #colonne-2.page-lycee {order:1;}
    #colonne-3.page-lycee {order:2;}
    @include breakpoint ($desktop){
    #colonne-1.page-lycee {order:1;}
    #colonne-1.page-lycee span{display: initial;}
    #colonne-2.page-lycee {order:2;}
    #colonne-3.page-lycee {order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex{
    @include breakpoint ($desktop){
        #colonne-2.page-lycee{@include border-vert-violet;}
    }
    
}
/*######-------- ||| STYLE ||| --------######*/
.liste-filtre ul #liste_filtre ul {
    list-style: circle outside none;
    margin: 0 0 0 15px;
}
#liste_filtre ul li, .liste-filtre ul li{
    list-style: inherit;
}
#liste_filtre .views-field-title a, .liste-filtre .views-field-title a{
    color: #11B0D5;
    font-size: 14px;
}
#liste_filtre p, .liste-filtre p{
    color: black;
    text-transform: lowercase;
}
#liste_filtre h3,strong, .liste-filtre h3{
    font-size: 12px;
    margin: 0;
    padding: 0;
}