// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE LYCEE                     |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.page-lycee {order:1;}
    #colonne-1.page-lycee span{display: none;}
    #colonne-2.page-lycee {order:1;}
    #colonne-3.page-lycee {order:2;}
    @include breakpoint ($desktop){
    #colonne-1.page-lycee {order:1;}
    #colonne-1.page-lycee span{display: initial;}
    #colonne-2.page-lycee {order:2;}
    #colonne-3.page-lycee {order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-1.page-lycee{@include border-R-bleu;}
    }
    
}
/*######-------- ||| STYLE ||| --------######*/
.page-lycee{
    .titre_page{
        @include titre-page;
        color: $violet;
    }
    p{
        line-height: normal;
        margin: 0;
    }
    a{
        color: $bleu-turquoise;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
            color: $rose-fushia;
        }
    .logo-resto{
        float: right;
    }
    .menu-resto{
        text-align: center;
        margin: 5px;
        background: azure;
        a{
            color: $rose-fushia;
            padding: em(10px);
            display: block;
            &:hover{
                color: $bleu-turquoise;
            }
        }
        ul{
            list-style: none;
        }
        li{
            list-style: none;
        }
        .filefield-icon{display: none;}
    }

    .liste-filtre{
        ul {
            list-style: circle outside none;
            margin: 0 0 0 15px;
        }
        ul li{
            list-style: inherit;
        }
        .views-field-title a{
            color: $bleu-turquoise;
            font-size: small;
        }
        p{
            color: black;
            text-transform: lowercase;
        }
        h3{
            font-size: em(12px);
            margin: 0;
            padding: 0;
        }
        
    }
}

#colonne-2.page-lycee {
    p{
        margin: 0;
    }
    h3{text-align: center;color: $violet; font-size: x-large;margin: 0.27em;}
    iframe{
        max-width: 100%;
        display: block;
        margin: 0 auto;            
    }
    .node_col_2 img{
        display: block;
        margin: 0 auto;
    }
     .menu-resto h3{color: $bleu-turquoise}
}
