// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE ACTUALITE LISTE      |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.page-actualites{order:2;}
    #colonne-2.page-actualites{order:1;}
    #colonne-3.page-actualites{order:3;}
    @include breakpoint ($desktop){
    #colonne-1.page-actualites{order:1;}
    #colonne-2.page-actualites{order:2;}
    #colonne-3.page-actualites{order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex{
    @include breakpoint ($desktop){
        
    }
    
}
/*######-------- ||| STYLES ||| --------######*/
h1.titre_actualites{
    color: $bleu-turquoise;
}
/*--------------------------------------
**** PAGE ACTU REDESIGN - AFFICHE ******
_________________________________________*/

#last-sortie,#last-projets ,#last-innovation,#last-rp, #last-annonce{
    .views-field-teaser{
        span{font-size: small;}
    }
    .views-field-title{
        color: black;
        font-style: italic;
        font-size: medium;
    }
}


#last-sortie,#last-projets,#last-innovation,#last-rp,#last-annonce{}
#last-sortie .views-field-nothing{color: $violet;font-weight: bold;}
#last-sortie img{border: em(3px) solid $violet;}



#other-sortie, #other-projets,#other-innovations,#other-rp,#other-annonce{}
#other-sortie{border: em(3px) solid $violet;}
#other-sortie a{color: $gris-anthracite;font-size: em(11px);padding: 0 5px;}
#other-sortie a:hover{color: $violet;}
#other-sortie .view-footer a{background: $violet;color: white;text-align: center;display: block;width: em(100px);margin: 0 auto;}
#other-sortie .view-footer a:hover{text-decoration: underline;}

#last-projets .views-field-nothing{color: $rose-fushia;font-weight: bold;}
#last-projets img{border: em(3px) solid $rose-fushia;}


#other-projets{border: em(3px) solid $rose-fushia;}
#other-projets a{color: $gris-anthracite;font-size: em(11px);padding: 0 5px;}
#other-projets a:hover{color: $rose-fushia;}
#other-projets .view-footer a{background:$rose-fushia;color: white;text-align: center;display: block;width: em(100px);margin: 0 auto;}
#other-projets .view-footer a:hover{text-decoration: underline;}

#last-innovation .views-field-nothing{color: $orange-fonce;font-weight: bold;}
#last-innovation img{border: em(3px) solid $orange-fonce;}


#other-innovations{border: em(3px) solid $orange-fonce;}
#other-innovations ul li {list-style: outside;}
#other-innovations a{color: $gris-anthracite;font-size: em(11px);padding: 0 5px;}
#other-innovations a:hover{color: $orange-fonce;}
#other-innovations .view-footer a{background:$orange-fonce;color:white;text-align: center;display: block;width: em(100px);margin: 2px auto;}
#other-innovations .view-footer a:hover{text-decoration: underline;}

#last-rp .views-field-nothing{color: $vert;font-weight: bold;}
#last-rp img{border: em(3px) solid $vert;}
#last-rp .views-field-teaser{}

#other-rp{border: em(3px) solid $vert;}
#other-rp ul li {list-style: outside;}
#other-rp a{color: $gris-anthracite;font-size: em(11px);padding: 0 5px;}
#other-rp a:hover{color: $vert;}
#other-rp .view-footer a{background:$vert;color:white;text-align: center;display: block;width:  em(100px);margin: 2px auto;}
#other-rp .view-footer a:hover{text-decoration: underline;}

#last-annonce .views-field-nothing{color: $bleu-turquoise;font-weight: bold;}
#last-annonce img{border: em(3px) solid $bleu-turquoise;}
#last-annonce .views-field-teaser{}

#other-annonce{border: em(3px) solid $bleu-turquoise;}
#other-annonce ul li {list-style: outside;}
#other-annonce a{color: $gris-anthracite;font-size: em(11px);padding: 0 5px;}
#other-annonce a:hover{color: $bleu-turquoise;}
#other-annonce .view-footer a{background:$bleu-turquoise;color:white;text-align: center;display: block;width: em(100px);margin: 2px auto;}
#other-annonce .view-footer a:hover{text-decoration: underline;}

.views-field-field-illus-vdl-fid{
    @include breakpoint ($mobile){
        img{margin: 0 auto;display: block;}
    }
}
/*RSS site PF*/
#block-aggregator-feed-1{border: em(2px) solid $vert;background: $gris-clair;padding: em(3px);margin: em(9px) auto;width: em(600px);text-align: center;}
#block-aggregator-feed-1 h3{color: $rose-fushia;}
#block-aggregator-feed-1 a{color: $gris-anthracite;}
#block-aggregator-feed-1 a:hover{color: $bleu-turquoise;}
#block-aggregator-feed-1 ul{}
#block-aggregator-feed-1 li{list-style: none;}