// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*----------------------------------------
*****~~~~~~ PAGE VDL  ~~~~~~~~~~~~*********
-----LISTE DES VDL - TEMPLATE VUES -----
------------------------------------------*/
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur {

    #colonne-1.vdl-liste{order:1;}
    #colonne-2.vdl-liste{order:2;}
    #colonne-3.vdl-liste{order:3;}
    @include breakpoint ($desktop){
   
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.page-archives{
            @include border-L-bleu;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
.content-archive{
    border-left: 1px solid $bleu-turquoise;
    padding: 5px;
}
.page-archives{
    h1{
        color: $bleu-turquoise;
    }
}

/*Liste des archives*/

.archives table{
    width: 98%;
    margin: 0 auto;
    tbody{}
    tr{
        background: $gris-clair;
        background-color: $gris-clair;
        display: block;
        margin: em(2px) 0;
        &:hover{
            background: #C2E7EF;   
        }
        a{
            color: $bleu-turquoise;
            text-decoration: none;
            padding: em(2px);
            font-weight: bold;
            &:hover{
                color: white;
            }
        }

    }
    td{
        padding: em(2px) 0;
        display: inline-block;
        width: 100%;
        &:hover{
            border-right: $bleu-turquoise solid em(2px);
        }
    }
    img{
        border: em(1px) solid $violet;
        float: right;
        margin: em(2px) em(4px);
        padding: em(2px);
    }
    .views-field-tid{
        text-align: right;
        font-size: em(10px);
        font-style: italic;   
    }
    .pager li.pager-current{background: $bleu-turquoise;color:$gris-clair;padding: em(2px); }
}

/*==
== Pager pour pages archives ===
==*/
.archives ul.pager{margin: em(3px) auto;width: 95%;display: block;padding: em(3px);}
.archives .pager li
{float: left;}
.archives .pager li a{color:#1F1F1F;}
.archives .pager li.pager-item,.archives .pager li.pager-current
{padding: em(3px);border-radius: em(10px); height: 1.9em;width: 1.9em;}
.archives .pager li.pager-item
{background:$violet ;color:$gris-clair;}
.archives .pager li.pager-item a{color:$gris-clair;}
.archives .pager li.pager-current
{background: $bleu-turquoise;color:$gris-anthracite;}

/*Bloc filtre exposé archives*/
.archives-exposed{
    max-width: 60%;
    margin: 0 auto;
    .views-widget-filter-field_date_evenement_value{
        width: em(150px);
    }
    .views-exposed-widgets{
        width: inherit;
        padding: em(5px);
        margin: em(5px);
        background: $gris-clair;
        border: $bleu-turquoise solid em(2px);
        @include ombrage-interne(0,0.1em,0.1em,0.3em,$gris-anthracite)
        
    }
}
