// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*----------------------------------------
*****~~~~~~ PAGE VDL  ~~~~~~~~~~~~*********
-----LISTE DES VDL - TEMPLATE VUES -----
------------------------------------------*/
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur {

    #colonne-1.vdl-liste{order:1;}
    #colonne-2.vdl-liste{order:2;}
    #colonne-3.vdl-liste{order:3;}
    @include breakpoint ($desktop){
   
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.contenu-vdl{
            @include border-vert-violet;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
.content-archive{
    border-left: 1px solid #11B0D5;
    padding: 5px;
}
/*Bloc filtre exposé archives*/
.archives-exposed{
    width: 405px;
    margin: 0 auto;
}
.archives-exposed .views-widget-filter-field_date_evenement_value{
    width: 150px;
}
.archives-exposed .views-exposed-widgets{
    width: inherit;
    padding: 5px;
    margin: 5px;
    background: #EFEFEF;
    border: #11B0D5 solid 2px;
    box-shadow: inset 0px 0px 3px #606171;
}
.archives-exposed{}
.archives-exposed{}

/*Liste des archives*/
.archives{}
.archives table{
    width: 98%
}
.archives tbody{}
.archives tr{
    background: #EFEFEF;
    background-color: #EFEFEF;
    display: block;
    margin: 2px 0;
}
.archives tr :hover{
    background: #C2E7EF;   
    
}
.archives td{
    padding: 2px 0;
    display: inline-block;
    width: 100%;
}
.archives td:hover{
    border-right: #11B0D5 solid 2px;
}
.archives img{
    border: #911381 1px solid;
    float: right;
    margin: 2px 4px;
    padding: 2px;
}
.archives tr a{
    color: #11B0D5;
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
}
.archives tr a:hover{
    color: white;
}
.archives .views-field-tid{
    text-align: right;
    font-size: 10px;
    font-style: italic;   
}
.archives .pager li.pager-current{background: #01AAD3;color:#EFEFEF;padding: 2px; }

/*==
== Pager pour pages archives ===
==*/
.archives ul.pager{margin: 3px auto;width: 95%;display: block;padding: 3px;}
.archives .pager li
{float: left;}
.archives .pager li a{color:#1F1F1F;}
.archives .pager li.pager-item,.archives .pager li.pager-current
{padding: 3px;border-radius: 10px; height: 15px;width: 15px;}
.archives .pager li.pager-item
{background:#91127D ;color:#EFEFEF;}
.archives .pager li.pager-item a{color:#EFEFEF;}
.archives .pager li.pager-current
{background: #01A9D2;color:#3F3F3F;}